# Binaries
bin/
dist/
/bento

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.txt

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Bento local store
.bento/
/main

# Stakpak session files
.stakpak/session*
.stakpak
.claude
